
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Accent Colors */
  --accent: #0052DC; /* Reverie Blue */
  --accent-light: #339CFF;
  --accent-dark: #01215A;

  --accent-alt: #FC814A; /* Techy Turquoise */
  --accent-alt-light: #4ef0e0;
  --accent-alt-dark: #00b3b3;
}

body {
  font-family: 'Roboto', sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

.glitch {
  position: relative;
  color: (0,82,220);
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.glitch::before {
  animation: glitchTop 1.5s infinite linear alternate-reverse;
  color: #339CFF;
  top: -1px;
}
.glitch::after {
  animation: glitchBottom 1.5s infinite linear alternate-reverse;
  color: #0052DC;
  top: 1px;
}
@keyframes glitchTop {
  0% {
    clip-path: inset(0 0 80% 0);
  }
  100% {
    clip-path: inset(0 0 20% 0);
  }
}
@keyframes glitchBottom {
  0% {
    clip-path: inset(80% 0 0 0);
  }
  100% {
    clip-path: inset(20% 0 0 0);
  }
}
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fade-down 0.3s ease-out;
}
@keyframes scan-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes shimmer {
  0% { transform: translateX(-50%); }
  50% { transform: translateX(50%); }
  100% { transform: translateX(-50%); }
}

.shimmer {
  animation: shimmer 2s infinite ease-in-out;
  background: linear-gradient(90deg, transparent, var(--accent-light), transparent);
}


.scanlines {
  background: repeating-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px
  );
  animation: scan-move 15s linear infinite;
}


